body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#content{
  width: 180px;
  align-content: center;
  padding: 70px;
  border-radius: 4px;
  margin: auto;
}

#header{
  border: 1px solid solid none solid gray;
  padding: 20px 20px;
}

.login{
  margin-left: 1250px;
  border-radius: 3px;
  border: 1px solid;
  padding: 8px 20px;
  background-color: white;
  color: dodgerblue;
}

.register{
  margin-left: 5px;
  border-radius: 3px;
  padding: 8px 20px;
  border: 1px solid;
  color: white;
  background-color: dodgerblue;
  transition-duration: 0.1s;
}

.register:hover{
  background-color: #42a5f5;
  color: white;
}

#rb{
  font-size: 1px;
}

.button1{
  background-color: dodgerblue; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  transition-duration: 0.1s; 
}

.button1:hover{
  background-color: #42a5f5;
  color: white;
  border: 1px solid;
}