.threadCreateButton {
    text-align: center;
    margin: 10px;
    margin-top: 20px;
}

.contentBody {
    background-color: #080705;
    text-align: center;
    margin: auto;
    width: 700px;
    height: auto;
}

.inputbox {
    border-color: #E6E8E8;
    border-radius: 5px;
    background-color: #E6E8E8;
    padding: 5px;
    font-size: medium;
    
}

.inputbox:focus {
    outline: 0;
    box-shadow: 0 0 4px currentColor;
}


#brukernavnregistrer {
    margin-bottom: 20px;
}

.registerDiv {
    text-align: center;
}

.button1 {
  color: #FDFFFF;
  padding: 6px;
  font-size: 0.9em;
  font-weight: bold;
  background: #1E1D1B;
  border: 1px solid #FDFFFF(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.15s ease-out;
}

.buttonVoted {
    color: #B967FF;
    padding: 6px;
    font-size: 0.9em;
    font-weight: bold;
    background: #1E1D1B;
    border: 2px solid #B967FF;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.15s ease-out;
  }

button:hover {
    background: #FDFFFF;
    color: #080705;
    border: 1px solid rgba(64, 78, 85, 0.815);
  }

button:focus {
outline: 0;
box-shadow: 0 0 4px currentColor;
}

.button2 {
    color: #FDFFFF;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    background: #1E1D1B;
    border: 1px solid #FDFFFF(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s ease-out;
}

#postthreadbutton {
    margin: 10px;
    margin-left: 183px;
    text-align: center;
}

#threadtitle {
    margin-bottom: 10px;
}

#postContent {
    font-size: small;
}

#logo {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #1E1D1B;
    position: relative;
}

#logoDiv {
    padding:0;
    margin-bottom: 0px;
    width: 100px;
    display: inline-block;
    background-color: red;
    height: 100px;
    position: relative;
}

#threadEditingTitle, #threadPostTitle{
    width:80%;

}
#threadEditingContent, #threadPostContent{
    width:80%;
    resize: none;
    
    
}
#threadPost{
    text-align: center;
}
