.navBar {
    color: #FDFFFF;
    display: table;
    height: 10px;
    border: 1px solid rgba(64, 78, 85, 0.815);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #162126;
    padding:5px;
    font-size: 10pt;
    left: 0px;
    right: 0px;
    float: none;
    width: 100%;
}

.login {
    margin: 5px;
    margin-left: 82%;
}