.navBar {
    color: #FDFFFF;
    display: table;
    border: 1px solid rgba(64, 78, 85, 0.815);
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #162126;
    padding: 10px;
    font-size: 10pt;
    left: 0px;
    right: 0px;
    width: 100%;
}

#logo {
    height: 55px;
    width: 157px;
    top: 11px;
    left: 10px;
    float: left;
    position: relative;
    background-color: #162126;
}

.login {
    padding: 16px;
    margin-left: 82%;
}