.navBar {
    display: table;
    height:50px;
    border: 2px solid #EFFBF1;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #F7FDF8;
    padding:5px;
    font-size: 10pt;
    left: 0px;
    right: 0px;
    float: none;
    width: 100%;
}

.login {
    margin-left: 82%;
}